{% extends 'layout.html' %}

{% block content %}
    <h2 class="title-page">{% block title %}Change password user{% endblock %}</h2>

    <form class="form" method="POST">
        <!-- Campos de formulario-->

        <!-- Campo oculto(Protección CSRF) -->
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <!-- Mensaje de error -->
        {% if error %}
            <div class="flash-error">{{ error }}</div>
        {% endif %}

        <!-- Datos de usuario -->
        {{ form.password_user(minlength="8", maxlength="20") }}
        {{ form.new_password(minlength="8", maxlength="20") }}
        {{ form.confirm_new_password(minlength="8", maxlength="20") }}

        <!-- Campo de reCAPTCHA -->
        <strong class="recaptcha-message">To login your user you must click on the reCAPTCHA</strong>
        {{ form.recaptcha }}
        
        <input class="button" type="submit" value="Save changes">
    </form>

{% endblock %}